
$lightblue: #3498db;
$background: #fff;


// Font Stacks
$helvetica: Helvetica, Arial, sans-serif;
.icon-monkey:before { content: '\e800'; } /* '' */
.icon-deer:before { content: '\e801'; } /* '' */
.icon-elephant:before { content: '\e802'; } /* '' */

